<header>
  <nav>
    <ul>
      <li>
        <a href="{{ route('CreateRecipeController.createRecipeAction') }}" class="btn">Ajouter une recette</a>
      </li>
      <li>
        <a href="{{ route('ShowHomePagesController.showHomePageAction') }}">Accueil</a>
      </li>
    </ul>
  </nav>
</header>
