<div class="quantity" x-data="change_quantity">
  <button class="minus" type="button" @click="remove">-</button>
  <input name="quantity-1" id="quantity-1" type="number" min="1" :value="quantity">
  <button class="plus" type="button" @click="add">+</button>
</div>
