:root {
  --default: #fff;
  --veggie: #476b2d;
  --calorie-smart: #37938a;
  --rapido: #ffcf70;
  --familiales: #1982c4;
  --poissons-legumes: #732429;
  --premium-festin: #476b2d;
  --monde: #37938a;
  --dessert: #ffcf70;
  --extra: #1982c4;

  --header-background: #c8e4e2;
  --dark-green: #172a3a;
  --medium-green: #006d77;
  --light-green: #83c5be;
  --light-grey: #edf6f9;
  --light-orange: #ffddd2;
  --dark-orange: #e29578;
  --border: #ced4da;

  --font: var(--dark-green);

  --spacing: 8px;
  --header-height: 88px;
  --width: 1260px;
}
